<section class="container">
    <div class="cards__container">
        {% for project in projects %}
            <div class="projects">
                <h2 class="cards__card__title">{{ project.title }}</h2>
                <ul>
                    {% for goal in project.goals %}
                        <li>{{ goal }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    {% for link in project.links %}
                        <li><i class="fas fa-rocket"></i><a class="projects__link" href="{{ link }}"
                                                            target="_blank">Voir le site</a></li>
                    {% endfor %}
                </ul>
                <div>
                    <h3>Technologies</h3>
                    <div class="projects__logo">
                        {% for logo in project.logos %}
                            <img class="card__text__logo" src="{{ vich_uploader_asset(logo, 'imageFile') }}" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
