<section class="container">
    <h1 class="section__title" id="about"><span>Soft-skills</span></h1>
    <div class="cards__container">
        {% for skill in skills %}
            <div class="cards__card">
                <h2 class="cards__card__title">{{ skill.name }}</h2>
                <ul>
                    {% for s in skill.skills %}
                        <li>{{ s }}</li>
                    {% endfor %}
                </ul>
                <img class="cards__card__img" src="{{ vich_uploader_asset(skill, 'imageFile') }}" alt="Drawing">
            </div>
        {% endfor %}
    </div>
</section>
